{% extends "layouts/reveal.html" %}

{% block title %}
  Functional Programming
{% endblock %}

{% block content %}
  {% include "slides/title.html" %}
  {% include "slides/what-is-functional-programming.html" %}
  {% include "slides/origins-of-functional-programming.html" %}
  {% include "slides/functional-concepts.html" %}
  {% include "slides/first-class-functions.html" %}
  {% include "slides/higher-order-functions.html" %}
  {% include "slides/pure-functions.html" %}
  {% include "slides/recursion.html" %}
  {% include "slides/functional-composition.html" %}
  {% include "slides/immutability.html" %}
  {% include "slides/functional-csharp.html" %}
  {% include "slides/questions.html" %}
  {% include "slides/next-steps.html" %}
  {% include "slides/thanks.html" %}
{% endblock %}
