<section>
  <h1>
    <img
      alt="First Class Functions"
      class="unstyled"
      src="/images/stranger-first-class-functions.png"
      title="First Class Functions"
    >
  </h1>
</section>
<section>
  <h2>First Class Functions</h2>
  <ul>
    <li>
     Languages with first class functions treat functions like any other value.
    </li>
    <li>
      That means functions can be:
      <ul>
        <li>constructed during the execution of a program</li>
        <li>stored in data structures</li>
        <li>passed as arguments to other functions</li>
        <li>returned as the result of other functions</li>
      </ul>
    </li>
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Glossary/First-class_Function"
        target="_blank"
        title="MDN - First-class Function"
      >
        MDN web docs - First-class function
      </a>
    </li>
    <li>
      <a
        href="https://en.wikipedia.org/wiki/First-class_function"
        target="_blank"
        title="Wikipedia.org - First-class Function"
      >
        Wikipedia.org - First-class function
      </a>
    </li>
  </ul>
</section>
<section>
  <h3>First-Class Functions in JavaScript</h3>
  <p>JS supports creation and assignment of functions in a number of ways:</p>
  <div>
    <iframe class="sandbox-lg" data-src="sandbox/first-class-functions.html"></iframe>
  </div>
</section>
