<section>
  <h1>Functional Composition</h1>
  <img
    alt="Functional Composition"
    class="unstyled width-xs"
    src="/images/functional-composition.png"
    title="This could have been an image of a human centipeid. You're welcome."
  >
</section>
<section>
  <h3>Functional Composition</h3>
  <img
    alt="I have the power of functional composition!"
    class="unstyled"
    src="/images/i-have-the-power.jpg"
    title="I have the power!"
  >
  <ul>
    <li>
      Function composition refers to the application of one function to the
      result of another function, producing a new composite function.
    </li>
    <li>Powerful method of abstraction</li>
    <li>
      <a
        href="https://lodash.com"
        target="_blank"
        title="lodash.com"
      >
        lodash
      </a>
      and
      <a
        href="http://underscorejs.org"
        target="_blank"
        title="underscore.org"
      >
        underscore
      </a>
      bring more compositional power to JavaScript.
    </li>
    <li>
      <a
        href="https://en.wikipedia.org/wiki/Function_composition"
        target="_blank"
        title="Wikipedia.org - Function Composition"
      >
        Wikipedia.org - Function Composition
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>Functional Composition in JS</h2>
  <p></p>
  <div class="margin-top-md">
    <iframe class="sandbox-md" data-src="sandbox/functional-composition.html"></iframe>
  </div>
</section>
