<section>
  <h1>Higher Order Functions</h1>
  <h2 class="fragment"></h2>
</section>
<section>
  <h2>Higher Order Functions</h2>
  <ul class="width-xl">
    <li>
    </li>
  </ul>
</section>
<section>
  <pre><code class="javascript font-size-lg" data-trim>
{% filter safe %}{% filter escape %}
{% endfilter %}{% endfilter %}
  </code></pre>
</section>
<section>
  <h2>Higher Order Functions</h2>
  <div class="margin-top-md">
    <iframe class="sandbox-md" data-src="sandbox/higher-order-functions.html"></iframe>
  </div>
</section>
