<section>
  <h1>Higher-Order Functions</h1>
  <img
    alt="Higher-order functions"
    src="/images/higher-order-functions.jpg"
    title="Higher-order functions"
  >
</section>
<section>
  <img
    alt="Higher-order functions"
    src="/images/higher-order-functions.jpg"
    title="Higher-order functions"
  >
  <h2>Higher-Order Functions</h2>
  <div>
    A higher-order function is a function that does at least one of the
    following:
    <ul>
      <li>Takes one or more functions as arguments</li>
      <li>Returns one or more functions as its result</li>
    </ul>
  </div>
  <div class="margin-top-md">
    <ul>
      <li>
        <a
          href="https://en.wikipedia.org/wiki/Higher-order_function"
          target="_blank"
          title="Wikipedia.org - Higher-order function"
        >
          Wikipedia.org - Higher-order function
        </a>
      </li>
    </ul>
  </div>
</section>
<section>
  <h2>Higher-Order Functions</h2>
  <p>JavaScript has full support for higher-order functions:</p>
  <div class="margin-top-md">
    <iframe class="sandbox-md" data-src="sandbox/higher-order-functions.html"></iframe>
  </div>
</section>
