<section>
  <h1>Next steps</h1>
</section>
<section>
  <img
    class="unstyled"
    src="/images/clojure-logo.png"
    alt="Clojure"
    title="Clojure"
  >
  <h3>Clojure</h3>
  <ul class="width-lg">
    <li>
      <a
        href="https://clojure.org"
        target="_blank"
        title="Clojure.org"
      >
        Clojure.org
      </a>
    </li>
    <li>
      A dynamic, compiled, and predominantly functional Lisp dialect that can
      run on the JVM, CLR, or your JavaScript engine of choice.
    </li>
  </ul>
</section>
<section>
  <h3>
      Structure and Interpretation<br>of Computer Programs
  </h3>
  <img
    class="unstyled width-sm"
    src="/images/sicp.png"
    alt="Structure and Interpretation of Computer Programs"
    title="Structure and Interpretation of Computer Programs"
  >
  <div>
    <ul>
      <li>
        <a
          href="https://en.wikipedia.org/wiki/Structure_and_Interpretation_of_Computer_Programs"
          target="_blank"
          title="Wikipedia.org - SICP"
        >
          Wikipedia.org - SICP
        </a>
      </li>
      <li>
        <a
          href="https://mitpress.mit.edu/sicp/full-text/book/book.html"
          target="_blank"
          title="mitpress.mit.edu | SICP Full Book"
        >
          Full Text
        </a>
        <ul>
          <li>
            <a
              href="https://mitpress.mit.edu/sicp/full-text/book/book-Z-H-12.html#%_sec_1.3"
              target="_blank"
              title="mitpress.mit.edu | SICP Section 1.3"
            >
              1.3 Formulating Abstractions with Higher-Order Procedures
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
