<section>
  <h1>Origins</h1>
  <img
    class="unstyled width-md"
    src="/images/fn-history.gif"
    alt="A (very) brief history of functional programming"
    title="A (very brief history of functional programming"
  >
</section>
<section>
  <img
    class="unstyled width-lg"
    src="/images/church.jpg"
    alt="Alonzo Church"
    title="Alonzo Church"
  >
  <h2>
    <a
      href="https://en.wikipedia.org/wiki/Alonzo_Church"
      target="_blank"
      title="Wikipedia - Alonzo Church">
      Alonzo Church (1903-1995)
    </a>
  </h2>
  <ul>
    <li>
      <a
        href="https://en.wikipedia.org/wiki/Lambda_calculus"
        target="_blank"
        title="Wikipedia - Lambda Calculus">
        Lambda Calculus
      </a>
    </li>
    <li>
      <a
        href="https://en.wikipedia.org/wiki/Church%27s_theorem"
        target="_blank"
        title="Wikipedia - Church's theorem">
        Church's Theorem
      </a>
    </li>
    <li>
      <a
        href="https://en.wikipedia.org/wiki/Church–Turing_thesis"
        target="_blank"
        title="Wikipedia - Church-Turing Thesis">
        Church-Turing Thesis
      </a>
    </li>
  </ul>
</section>
<section>
  <h1>
    <a
      href="https://en.wikipedia.org/wiki/Lambda_calculus"
      target="_blank"
      title="Wikipedia - Lambda Calculus">
      <img
        class="unstyled width-md"
        src="/images/lambda-calculus.png"
        alt="Lambda Calculus Est. 1936"
        title="Lambda Calculus">
    </a>
  </h1>
  <ul>
    <li>
      A theoretical framework for describing functions and their evaluation.
    </li>
    <li>
      A mathematical abstraction, not a programming language.
    </li>
    <li>
      The basis of almost all current functional programming languages.
    </li>
  </ul>
</section>
