<section>
  <h1>Recursion</h1>
  <a
    href="https://www.google.com/search?q=recursion"
    target="_blank"
    title="Google recursion"
  >
    <img
      alt="Google search results for the term recursion"
      class="unstyled"
      src="/images/google-recursion.png"
      title="Did you mean recursion?"
    >
  </a>
</section>
<section>
  <h3>So many good recursion gifs...</h3>
  <img
    alt="Recursive depiction of Patrick Star"
    class="unstyled width-lg"
    src="/images/recursive-patrick.gif"
    title="The inner machinations of my mind are an enigma."
  >
</section>
<section>
  <h3>Recursion</h3>
  <ul>
    <li>
      Recursive functions invoke themselves repeatedly until some base case is
      reached at which point a value is returned.
    </li>
    <li>
      Recursion requires maintaining a stack which can be problematic in
      languages that don't support
      <a
        href="https://en.wikipedia.org/wiki/Tail_call"
        target="_blank"
        title="Wikipedia.org - Tail Call"
      >
        tail-call optimization
      </a>.
      <ul>
        <li>
          Some aspects of very deep recursion can be faked through the use of
          higher-order functions. For example, the 
          <a
            href="https://en.wikipedia.org/wiki/Fixed-point_combinator#Fixed_point_combinators_in_lambda_calculus"
            target="_blank"
            title="Wikipedia.org - Fixed-point combinator"
          >
            y-combinator
          </a>
          can be represented both functionally and imperatively.
        </li>
      </ul>
    </li>
    <li>
      Looping in functional languages is usually accomplished via recursion.
    </li>
  </ul>
  <ul>
    <li>
      <a
        href="https://en.wikipedia.org/wiki/Recursion_(computer_science)"
        target="_blank"
        title="Wikipedia.org - Recursion"
      >
        Wikipedia.org - Recursion
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>Recursion in JavaScript</h2>
  <p></p>
  <div class="margin-top-md">
    <iframe class="sandbox-md" data-src="sandbox/recursion.html"></iframe>
  </div>
</section>
