<section>
  <h2>What is functional programming?</h2>
</section>
<section>
  <div class="definition compact">
    <p class="term">func·tion·al pro·gram·ming</p>
    <div>
      <p>/fŭngk′shə-nəl prō′grăm′ĭng/</p>
      <div class="content">
        <p class="family">noun</p>
        <p class="body">
          A declarative programming paradigm that treats computation as the
          evaluation of mathematical functions and avoids changing-state and
          mutable data.
        </p>
      </div>
    </div>
  </div>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://en.wikipedia.org/wiki/Functional_programming"
        target="_blank"
        title="Wikipedia - Functional Programming"
      >
        Wikipedia - Functional Programming
      </a>
    </li>
  </ul>
</section>
<section>
  <img
    class="unstyled width-md"
    src="/images/confused-batman.gif"
    alt="I'm sorry. I literally have no idea what you're talking about."
    title="I'm sorry. I literally have no idea what you're talking about."
  >
  <h3>Huh?</h3>
</section>
<section>
  <a
    href="https://xkcd.com/1270/"
    target="_blank"
    title="XKCD #1270">
    <img
      class="width-md unstyled"
      src="/images/xkcd-functional.png"
      alt="Tail recursion is its own reward."
      title="Functional programming combines the flexibility and power of abstract mathematics with the intuitive clarity of abstract mathematics."
    >
  </a>
  <p>
    <a
      href="https://xkcd.com/1270/"
      target="_blank"
      title="XKCD #1270">
      "Functional programming combines the flexibility and power of abstract
      mathematics with the intuitive clarity of abstract mathematics."
    </a>
  </p>
</section>
<section>
  <h3>What is functional programming?</h3>
  <ul>
    <li>
      A set of assumptions, concepts, values, and practices that constitutes one
      perspective on computer programming.
    </li>
    <li>
      Though some languages take the functional paradigm to an extreme,
      functional programming has less to do with the specific language and more
      to do with the concepts and constructs used.
      <ul>
        <li>
          Many "mostly imperative" programming languages include functional
          concepts.
        </li>
      </ul>
    </li>
  </ul>
</section>
